body {
  background-color: gray;

}
h1 {
  color: rgb(217, 255, 0);
  font-family: verdana;
  font-size: 300%;
}
h4{
  color: rgb(251, 255, 0);
  font-family: verdana;
  font-size: 300%;
}
p,h2 {
  color: rgb(255, 222, 222);
  font-family: courier;
  font-size: 160%;
  font-family: "Lucida Console", "Courier New", monospace;
}
body {
  background-image: url("https://as1.ftcdn.net/v2/jpg/02/98/44/06/1000_F_298440612_WXCiiiOpul5DdY2GTlWf9msxjVFs5g4R.jpg");
  background-color: #cccccc;
 }